#custom-progressbar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ddd;
}

#custom-seekbar {
  position: absolute;
  height: 100%;
  background-color: #909;
}

#highlighted-timestamp {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #0f0;
}
